#solutionDiv {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: -10%;
    gap: 20px;
    /* transform: translateY(-40%); */
}

#solutionHeading {
    text-align: center;
}