#solutionDiv {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: -10%;
    gap: 50px;
}

#solutionHeading {
    text-align: center;
    margin: 0;
}

/* Reponsive design for screens less than 599px */
@media screen and (max-width: 599px) {
    #solutionDiv {
        margin-top: 10%;
        width: 90%;
    }
}