.button {
    background: none;
    color: var(--burgundy);
    border: none;
    font-size: 1.2rem;
    font-family: var(--font);

    &:hover {
        cursor: pointer;
        text-decoration: underline;
        transition: width 0.3s ease, left 0.3s ease;
    }
}

/* Reponsive design for screens less than 599px */
@media screen and (max-width: 599px) {
    .button {
        font-size: 0.9rem;
    }
}