@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;800&display=swap");

body {
  background-color: "white";
}

/* .container {
} */

a {
  text-decoration: none;
  color: #183153;
  font-family: "JetBrains Mono";
}

.links {
  margin-top: 60px !important;
  margin-bottom: 120px !important;
}

/* #container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
} */

