@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;800&display=swap");

.App {
  font-family: sans-serif;
  /* text-align: center; */
}

body {
  background-color: #f5f8f9;
  font-family: sans-serif;
}

#container {
  width: 100%;
  display: flex;
  margin-top: 60%;
}

a {
  text-decoration: none;
  color: #183153;
  font-family: "JetBrains Mono";
}